.not-found {
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}

a {
    text-decoration: none;
    color: black;
    
    &:hover {
        color: gray;
    }
}
