.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
    padding: 20px;

    .register-form {
        background: #fff;
        padding: 30px; /* Reduced padding */
        border-radius: 8px; /* Slightly reduced border-radius */
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1); /* Slightly reduced shadow */
        width: 100%;
        max-width: 300px; /* Reduced max-width */
        h2 {
            margin-bottom: 15px; /* Reduced margin-bottom */
            text-align: center;
            color: #333;
            font-size: 20px; /* Reduced font size */
        }

        .form-group {
            margin-bottom: 20px; /* Slightly reduced margin-bottom */
            label {
                display: block;
                margin-bottom: 8px; /* Reduced margin-bottom */
                font-weight: bold;
                color: #555;
                font-size: 14px; /* Slightly reduced font size */
            }

            input {
                width: 100%;
                padding: 8px; /* Reduced padding */
                border-radius: 4px; /* Slightly reduced border-radius */
                border: 1px solid #ddd;
                font-size: 14px; /* Slightly reduced font size */
                box-sizing: border-box;
            }

            .error {
                margin-top: 3px;
                color: red;
                font-size: 12px;
            }
        }

        .register-button {
            width: 100%;
            padding: 10px; /* Slightly reduced padding */
            background-color: whitesmoke;
            border: 2px solid black;
            border-radius: 4px;
            color: black;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s;
                
            &:hover {
                background-color: black;
                color: whitesmoke;
            }
        }
    }
}

.password-input-container {
    position: relative;
    display: flex;
    align-items: center;

    input {
        width: 100%;
    }

    .password-toggle {
        position: absolute;
        right: 10px;
        cursor: pointer;
        color: #666;
        
        &:hover {
            color: #333;
        }
    }
}
