.task-details {
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px dashed #f0f0f0;
    background-color: #fafafa;
    border-radius: 4px;

    .task-description {
        margin-bottom: 16px;
    }

    .ant-descriptions-item-label {
        font-weight: 500;
    }
}
