.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;

    .login-form {
        background: #fff;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 300px;
        
        h2 {
            margin-bottom: 20px;
            text-align: center;
        }

        .form-group {
            margin-bottom: 15px;

            label {
                display: block;
                margin-bottom: 5px;
                font-weight: bold;
            }

            input {
                width: 95%;
                padding: 8px;
                border-radius: 5px;
                border: 1px solid #ddd;
            }
        }

        .login-button {
            width: 100%;
            padding: 12px;
            background-color: whitesmoke;
            border: 2px solid black; /* Fixed border property */
            border-radius: 5px;
            color: black;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s;
                
            &:hover {
                background-color: black;
                color: whitesmoke;
            }
        }

        .login-forget {
            margin-top: 15px;
            text-align: center;

            a {
                color: #1890ff;
                text-decoration: none;
                font-size: 14px;
                transition: color 0.3s;

                &:hover {
                    color: #40a9ff;
                    text-decoration: underline;
                }
            }
        }
    }
}

.password-input-container {
    position: relative;
    display: flex;
    align-items: center;

    input {
        width: 100%;
    }

    .password-toggle {
        position: absolute;
        right: 10px;
        cursor: pointer;
        color: #666;
        
        &:hover {
            color: #333;
        }
    }
}
